<header class="header">
  Videos
  <mi-button
    [buttonType]="'primary'"
    [text]="'Add video'"
    (click)="showAddVideoForm = true; fromHeaderText = 'Add Video';"
  ></mi-button>
</header>

<main class="main">
  <div *ngIf="!showAddVideoForm">
    <h1>VManager Demo v0.0.1</h1>
    <ng-container *ngIf="videos.length > 0">
      <mi-videos-table [videos]="videos" [editVideo]="editVideo.bind(this)" (refreshVideos)="getVideosList()"></mi-videos-table>
    </ng-container>
  </div>

  <div class="add-video-form" *ngIf="showAddVideoForm">
    <h2>{{ videoToEdit ? 'Edit Video: ' + videoToEdit.name : 'Add Video' }}</h2>
    <app-video-form (refreshVideos)="getVideosList()" [videoToEdit]="videoToEdit" [showAddVideoForm]="showAddVideoForm" (showAddForm)="handleShowAddForm($event)"></app-video-form>
  </div>
</main>

<footer class="footer">VManager Demo v0.0.1</footer>
