.button {
  border: none;
  color: var(--white);
  cursor: pointer;
  background: transparent;
  margin-right: 5px;
  padding: 5px 10px;
  color: var(--white);
  border-radius: 5px;
}

.primary {
  background: var(--green);
}

.primary:hover {
  background: var(--dark-green);
}

.edit {
  background: var(--green);
}

.edit:hover {
  background: var(--dark-green);
}

.delete, .cancel {
  background: var(--red);
}

.delete:hover,
.cancel:hover {
  background: var(--dark-red);
}

button[disabled],
button[disabled]:hover {
  background-color: var(--lighter-gray); 
  color: var(--light-gray);
}
